{% extends "base.html" %}
{% set active_page = "accordion" %}

{% block title %}Accordion{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Visualizations</h1>


<h4>Select the aspect and opinion for visualization graph</h4>


{% set aspect = ['politics','humanity','science','economy'] %}
{% set opinion = [ 'concerned', 'not concerned', 'neutral', 'conflicted'] %}

<form method="post" id="category">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-controls="collapseOne">
                        ASPECT
                    </button>

                </h2>
            </div>

            <div id="collapseOne" class="collapse 
            {% for  name in aspect %}
            {% if name==tag %}
            show 
            {% endif %}
            {% endfor %}
            " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    {% for name in aspect %}
                    {% if tag == name %}
                    {% set checked="checked" %}
                    {% endif %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tag" id="radio-{{name}}" value="{{name}}" {{
                            checked }}>
                        <label class="form-check-label" for="radio-{{name}}">
                            {{ name | capitalize}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-controls="collapseTwo">
                        OPINION
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse
            {% for  name in opinion %}
            {% if name==tag2 %}
            show 
            {% endif %}
            {% endfor %}
            " aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    {% for name in opinion %}
                    {% if tag2 == name %}
                    {% set checked="checked" %}
                    {% endif %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tag2" id="radio-{{name}}" value="{{name}}" {{
                            checked }}>
                        <label class="form-check-label" for="radio-{{name}}">
                            {{ name | capitalize}}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <h4> </h4>
    <button type="submit" class="submit btn btn-primary btn-xl">Submit</button>
</form>
{% if tag2 == 'not concerned'%}
{% set tag2="unconcerned" %}
{% endif %}

{% if first == 1%}
<h4> </h4>
<h4>Overview of the data</h4>
<img src="{{ url_for('static', path="images/visualization/overview/aspect_opinion_overview.png") }}" alt="" width="600" />
<h4> </h4>
<img src="{{ url_for('static', path="images/visualization/overview/delta_overview.png") }}" alt="" width="600" />
<h4> </h4>
<img src="{{ url_for('static', path="images/visualization/overview/overview.png") }}" alt="" width="600" />
{% endif %}

{% if first == 0%}
{% if tag%}
<h4> </h4>
<h4>You selected {{tag}},{{tag2}}</h4>
{% set image_address = "images/visualization/aspect_opinion/" + tag +"_"+ tag2 +".png"%}
{% set image_asp = "images/visualization/wordcloud/" + tag +".png"%}
{% set image_opi = "images/visualization/wordcloud/" + tag2 +".png"%}
<img src="{{ url_for('static', path=image_address) }}" alt="" width="600" />
<h4>Wordcloud for aspect {{tag}}</h4>
<img src="{{ url_for('static', path=image_asp) }}" alt="" width="600" />
<h4>Wordcloud for opinion {{tag2}}</h4>
<img src="{{ url_for('static', path=image_opi) }}" alt="" width="600" />
<h4>Click "Visualization" again from top navigation bar to see overview</h4>
{% endif %}
{% endif %}

{% endblock %}


{% block scripts %}
{{ super() }}


{% endblock %}